.tab-pane .tab-header-area .tab-header-background {
    /*-fx-opacity: 0;*/
	-fx-background-color: #272a30;
/*    -fx-background-color: -fx-outer-border, -fx-inner-border, derive(-fx-color, -20%);*/
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

.tab-pane
{
	-fx-tab-min-width: 35px;
	-fx-tab-min-height: 170px;
	-fx-tab-max-width: 35px;
	-fx-tab-max-height: 170px;
	-fx-padding: 0 0 0 -6;
}

.tab{
	-fx-padding: 0 0 0 0;
	/*-fx-background-image: url("../img/ui/tab_bckgr_2.png");*/
	-fx-background-color: transparent; /*484848*/
	-fx-focus-color: transparent;
/*		-fx-focus: none;*/
}
.tab-pane .tab
{
	/*-fx-focus: none;*/
}
.tab-pane .tab:hover
{
	-fx-background-color: #3c3c3c;
/*	-fx-background-image: url("../img/ui/tab_bckgr_2_hover.png");*/
}
.tab .tab-label { 
    -fx-alignment: LEFT;
    -fx-text-fill: #989dac;
    -fx-font-size: 13px;
    -fx-font-weight: normal;
	-fx-font-family: "PT Mono";
	-fx-padding: 0 -120 0 -70;
}
.tab-pane .tab:selected
{
	-fx-background-color: #1e2025;
/*	-fx-background-image: url("../img/ui/tab_bckgr_2_selected.png");*/
}
.tab:selected .tab-label { 
    -fx-alignment: LEFT;
    -fx-text-fill: #e2e2e2;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
	-fx-font-family: "PT Mono";
}
.tab *.tab-label {
    -fx-rotate: 90;
}
.tab *.subtabicon {
    -fx-rotate: 0;
}

.tab-pane:top *.tab-header-area {
/*    -fx-background-insets: 0, 0 0 1 0;*/
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
   /* -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
   }/*
.button {
    -fx-padding: 5 5 5 5;
    -fx-background-insets: 0,0 0 2 0, 0 0 3 0, 0 0 4 0;

    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-background-color: 
         -fx-shadow-highlight-color, 
         -fx-outer-border, 
         -fx-inner-border, 
         -fx-body-color;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 3,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 13;
	 -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
.button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #9b9b9b 0%, #adadad 100%),
        #bdbdbd,
        #cacaca,
        radial-gradient(center 50% 50%, radius 100%, #9e9e9e, #cacaca);
}
.button:pressed {
    -fx-padding: 1 1 2 1;
    -fx-background-insets: 1 0 0 0,1 0 2 0, 1 0 3 0, 1 0 3 0;
}
.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}*/